/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
versions.tf
/terraform/modules/app/versions.tf
/terraform/modules/db/versions.tf
*.retry
jdauphant.nginx
/jdauphant.nginx/
# Vagrant & molecule
.vagrant/
*.pyc
.molecule
.cache
.pytest_cache
